.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 40px 0;

	a,
	button {
		color: $black;
		text-decoration-color: transparent;
		transition: text-decoration-color 0.3s ease;

		&:hover {
			text-decoration-color: inherit;
		}
	}

	button {
		@include button-reset;
	}

	.title {
		margin: 0;

		a {
			@include font-med;
			@include font-size(24);
		}
	}

	.admin {
		display: flex;
		justify-content: flex-end;

		p {
			margin: 0;
		}

		a,
		button {
			@include font-reg;
			@include font-size(18);
			margin: 0 0 0 40px;
		}
	}
}
