.header {
	p {
		margin: 20px 0 40px 0;

		a {
			@include font-med;
			@include font-size(24);
			color: $black;
			text-decoration-color: transparent;
			transition: text-decoration-color 0.3s ease;

			&:hover {
				text-decoration-color: inherit;
			}
		}
	}
}
