.recipe-edit {
	&__form {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 0;
		grid-template-areas:
			"title cats"
			"main cats"
			"submit submit";
		width: 100%;
		height: 100%;

		@include tablet {
			grid-template-columns: 1fr;
			grid-template-areas:
				"title"
				"cats"
				"main"
				"submit";
		}

		&__title {
			grid-area: title;
			padding-right: 60px;

			@include mobile {
				padding-right: 0;
			}

			input {
				width: calc(100% - 40px);
			}
		}

		&__main {
			grid-area: main;
			padding-right: 60px;

			@include tablet {
				padding-right: 0;
			}
		}

		&__side {
			grid-area: cats;

			&__servings {
				input {
					width: calc(100% - 40px);
				}
			}

			&__cat {
				select {
					width: calc(100% - 40px);
				}
			}
		}

		&__submit {
			grid-area: submit;
			display: flex;

			.btn--secondary {
				margin-left: 40px;
			}
		}

		&__ingredients {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			flex-wrap: wrap;
			margin-bottom: 10px;

			@include mobile {
				position: relative;
				justify-content: flex-start;
			}

			&__quantity {
				flex: 0 0 calc(20% - 30px);

				@include mobile {
					flex: 0 0 calc(33.33% - 30px);
					margin-right: 15px;
				}
			}

			&__measurement {
				flex: 0 0 calc(25% - 30px);

				@include mobile {
					flex: 0 0 calc(66.66% - 30px);
				}
			}

			&__item {
				flex: 0 0 calc(55% - 30px);

				@include mobile {
					flex: 0 0 calc(100% - 45px);
					margin: 10px 15px 0 0;
				}
			}

			label {
				display: block;
				@include font-reg;
				@include font-size(14);
			}

			.remove {
				margin-bottom: 10px;

				@include mobile {
					position: absolute;
					top: 30px;
					right: 0;
				}
			}

			.error {
				flex: 0 0 100%;
			}
		}

		&__instructions {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;

			label {
				display: block;
				@include font-reg;
				@include font-size(14);
			}

			&__item {
				flex: 0 0 calc(100% - 40px);
			}

			.error {
				flex: 0 0 100%;
			}
		}

		&__notes {
			textarea {
				width: calc(100% - 40px);
			}
		}

		&__tags {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			margin-bottom: 5px;

			&__tag {
				flex: 0 0 calc(100% - 40px);
			}

			.error {
				flex: 0 0 100%;
			}
		}
	}
}
