.recipe {
	h2 {
		margin: 40px 0 20px 0;
	}

	&__category {
		a {
			@include font-med;
			@include font-size(18);
			color: $black;
			text-decoration-color: rgba($black, 0.25);
			transition: text-decoration-color 0.3s ease;

			&:hover {
				text-decoration-color: $black;
			}
		}
	}

	&__ingredients {
		tr {
		}

		td {
			padding-right: 40px;
			vertical-align: top;

			@include mobile {
				padding: 0 30px 20px 0;
			}

			&:first-of-type {
				text-align: right;
			}

			&:last-of-type {
				padding-right: 0;
			}
		}
	}

	&__instructions {
		margin: 0 0 0 20px;
		padding: 0;

		li {
			max-width: 600px;
			margin: 0 0 20px 0;

			&::marker {
				margin-right: 10px;
			}
		}
	}

	&__notes {
		max-width: 600px;
	}
}
