.recipe {
	h2 {
		margin: 40px 0 20px 0;
	}

	.warning {
		@include font-bold;
		line-height: 1.2;
		color: $red;
		margin-bottom: 10px;
	}

	.cancel-delete {
		margin-top: 20px;
	}

	&__container {
		display: grid;
		grid-template-columns: 3fr 1fr;
		column-gap: 60px;
		grid-template-areas:
			"title title"
			"main side";
		width: 100%;
		height: 100%;

		@include tablet {
			grid-template-columns: 1fr;
			grid-template-areas:
				"title"
				"side"
				"main";
		}
	}

	&__title {
		grid-area: title;
		display: flex;
		margin-bottom: 20px;

		h1 {
			margin: 0;
		}

		.btn--favorite {
			margin-right: 10px;
		}
	}

	&__main {
		grid-area: main;

		@include tablet {
			margin-top: 30px;
		}

		h2 {
			@include font-bold;

			&:first-of-type {
				margin-top: 0;
			}
		}

		p {
			max-width: 600px;
		}

		ol,
		ul {
			margin: 0 0 0 20px;
			padding: 0;

			li {
				max-width: 600px;
				margin: 0 0 20px 0;

				&::marker {
					margin-right: 10px;
				}
			}
		}
	}

	&__side {
		grid-area: side;

		.detail {
			margin: 20px 0 0 0;
		}

		h2 {
			@include font-bold;
			@include font-size(16);
			margin: 0 10px 0 0;
		}

		p,
		a {
			@include font-size(16);
		}

		p {
			margin: 0;
		}

		.link {
			text-transform: capitalize;
		}

		ul {
			margin: 0;
			padding: 0;

			li {
				list-style-type: none;
			}
		}

		.btn {
			width: 100%;
			max-width: 200px;
			text-align: center;
		}

		.btn--primary {
			margin: 40px 0 20px 0;
		}
	}
}
