@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;600;800&display=swap");

@mixin font-reg {
	font-family: "Bitter", serif;
	font-weight: 400;
}

@mixin font-med {
	font-family: "Bitter", serif;
	font-weight: 600;
}

@mixin font-bold {
	font-family: "Bitter", serif;
	font-weight: 800;
}
