/* general */

html {
	font-size: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	@include font-reg;
	@include font-size(18);
	line-height: 1.65;
	letter-spacing: 0.25px;
	color: $black;
	margin: 0;
	padding: 0;
	background-color: $white;
}

h1 {
	@include font-bold;
	@include font-size(36);
	line-height: 1.65;
}

h2 {
	@include font-med;
	@include font-size(24);
	line-height: 1.65;
}

p {
	@include font-size(18);
	line-height: 1.65;
}

// screeen reader only
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(100% - 50px);
	min-height: 100vh;
	max-width: 900px;
	margin: 0 auto;

	@include mobile {
		width: calc(100% - 30px);
	}
}
