/* buttons/links */

.btn {
	@include button-reset;
	display: inline-block;

	&--submit {
		width: auto;
		height: 40px;
		@include font-reg;
		@include font-size(16);
		line-height: 40px;
		text-transform: uppercase;
		color: $white;
		padding: 0 30px;
		background-color: $black;
		border: 2px solid $black;
		transition: color 0.3s ease, background-color 0.3s ease;

		&:hover {
			color: $black;
			background-color: $white;
		}
	}

	&--add {
		@include font-med;
		@include font-size(14);
		text-decoration: underline;
		text-decoration-color: transparent;
		transition: text-decoration-color 0.3s ease;

		&:hover {
			text-decoration-color: inherit;
		}

		&::before {
			content: "+ ";
		}
	}
}

.link {
	@include button-reset;
	color: $black;
	border-bottom: 2px solid rgba($black, 0.25);
	transition: border-color 0.3s ease;

	&:hover {
		border-color: rgba($black, 0.75);
	}
}
